aside {
	max-width: 360px;

	section {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}

.section-style {
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 8px;
}

.tab-content-style {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.k-expander-content li {
	display: flex;
	justify-content: space-between;
}

.k-tabstrip-content {
	display: flex !important;
	justify-content: center;
}